#address {
	text-decoration: underline;
	color: black;
}

#confession-box {
	width: 30em;
    height: 10em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

a.home {
	text-decoration: none;
	color: black;
}

a.indulgences {
	text-decoration: none;
	color: black;
	font-size: 1.3em;
	padding-left: 5vw;
}

a.confess {
	text-decoration: none;
	color: black;
	font-size: 1.3em;
	padding-left: 4vw;
}

.topIndulgences {
	float: left;
	margin: auto;
}

.topConfessions {
	float: right;
	margin: auto;
}
.header {
	padding-top: .4em;
	margin: auto;
}

.send {
	font-size: 2.4em;
	padding-left: 5vw;
	padding-top: 1.1em;
	padding-bottom: 1.5em;
	margin: auto;
}